* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
}

html, body, #map_canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* Side bar */
#sidebar{
	position: fixed;
	min-width: 350px;
    max-width: 350px;
	height: 100%;
	background-color: rgb(245, 245, 245);
	z-index: 11;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.3);
	transition: all 0.25s;
}
.sidebar-con{
    width: 96%;
    height: 100%;
    margin: 5px auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.not-visible{
	transform: translateX(-100%);
}
.caret-right{
	transform: translate(-50%,-50%) rotate(180deg) !important; 
}

#sidebar_toggle_btn{
	position: absolute;
	top: 8px;
    left: 100%;
	width: 25px;
	height: 50px;
	border-left: 1px solid #D4D4D4;
	background-color: #fefefe;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.3);
	cursor: pointer;
    z-index: 108;
}
#sidebar_toggle_btn .caret-left{
	color: #666;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.25s;
}
.sidebar_box{
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 8px;
    overflow: hidden;
}
.user-con{
    display: flex;
    white-space: nowrap;
}

.user_pic{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ccc;
    vertical-align: top;
    margin: 16px;
    background-position: center;
    background-size: contain;
    min-width: 80px;
    overflow: hidden;
    cursor: pointer;
}
.pic_change{
    position: absolute;
    height: 20px;
    min-width: 80px;
    background-color: rgba(0,0,0,0.54);
    text-align: center;
    margin: 16px auto;
    top: 45px;
    color: #fff;
    font-weight: bold;
}
#uploadPic-con{
    position: absolute;
    width: 300px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #fff;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.uploadPic-con-show{
    opacity: 1 !important;
    visibility: visible !important;
}
.uploadPic_form{
    position: absolute;
    top: 50px;
    left: 5px;
}
.user_info{
    flex: 1;
    margin: 16px;
}
.user_name{
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
}
.user_name h2,a{
    color: #555;
    display: inline-block;
}
.user_name a{
    color: #aaa;
    line-height: 28px;
    text-decoration: none;
    float: right;
}
.menu-a{
    display: inline-block;
    width: 60px;
    margin: 0;
    margin-right: 3px;
}
.menu{
    display: inline-block;
    width: 60px;
    height: 40px;
    background-color: rgba(76, 138, 150, 0.6);
    margin-top: 10px;
    margin-right: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 2px;
}
.menu:hover{
    background-color: rgba(76, 138, 150, 0.8);
}
.sidebar_box a{
    text-decoration: none;
}
.menu_icon{
    color: #fff;
    margin: 10px 5px;
}
.menu h3{
    color: #fff;
    margin: 10px 0;
    text-align: center;
}
.cancel{
    position: absolute;
    top: 10px;
    right: 10px;
}

.mode_btn{
    display: inline-block;
    width: 45%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: rgba(76, 138, 150, 0.5);
    border-radius: 3px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
}
.mode_btn:hover{
    background-color: rgba(76, 138, 150, 0.7);
}
.mode_btn_active{
    background-color: rgba(76, 138, 150, 1);
    font-weight: 500;
    cursor: default;
}
.mode_btn_active:hover{
    background-color: rgba(76, 138, 150, 1);
}
