* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
/* Bootstrap */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1172px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.row {
  margin-left: -16px;
  margin-right: -16px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* Banner */

    #banner_new {
        padding: 10em 0 4.75em 0 ;
    }

        #banner_new .inner {
            margin: 0 auto;
            width: 55em;
            height: 250px;
        }

        #banner_new .logo {
            -moz-transition: opacity 2s ease, -moz-transform 1s ease;
            -webkit-transition: opacity 2s ease, -webkit-transform 1s ease;
            -ms-transition: opacity 2s ease, -ms-transform 1s ease;
            transition: opacity 2s ease, transform 1s ease;
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            margin: 0 0 1.3em 0;
        }

            #banner_new .logo .icon {
                border-radius: 100%;
                border: solid 2px rgba(255, 255, 255, 0.125);
                cursor: default;
                display: inline-block;
                font-size: 2em;
                height: 2.25em;
                line-height: 2.25em;
                text-align: center;
                width: 2.25em;
            }

        #banner_new h2 {
            -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
            -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
            -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            -moz-transform: translateX(0);
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            -moz-transition-delay: 0.65s;
            -webkit-transition-delay: 0.65s;
            -ms-transition-delay: 0.65s;
            transition-delay: 0.65s;
            -moz-filter: blur(0);
            -webkit-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            opacity: 1;
            border-bottom: solid 2px rgba(255, 255, 255, 0.125);
            font-size: 2.25em;
            margin-bottom: 0.8em;
            padding-bottom: 0.4em;
        }

        #banner_new p {
            -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
            -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
            -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            -moz-transform: translateX(0);
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            -moz-transition-delay: 0.8s;
            -webkit-transition-delay: 0.8s;
            -ms-transition-delay: 0.8s;
            transition-delay: 0.8s;
            -moz-filter: blur(0);
            -webkit-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            opacity: 1;
            font-family: Raleway, Helvetica, sans-serif;
            font-size: 1em;
            font-weight: 200;
            letter-spacing: 0.1em;
            line-height: 2;
            text-transform: uppercase;
        }

        @media screen and (max-width: 1280px) {

            #banner_new {
                padding: 3em 0 3em 0 ;
                /*background-color: #2e3141;
                background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../images/mainbg.jpg");
                background-size: cover;
                background-position: center;*/
                margin-bottom: -6.5em;
            }

        }

        @media screen and (max-width: 980px) {

            #banner_new {
                padding: 3em 3em 3em 3em ;
                margin-bottom: -4.75em;
            }

                #banner_new .inner {
                    width: 100%;
                }

        }

        @media screen and (max-width: 736px) {

            #banner_new {
                padding: 5em 2em 4.25em 2em ;
                margin-bottom: -2.5em;
            }

                #banner_new .logo {
                    margin: 0 0 1em 0;
                }

                    #banner_new .logo .icon {
                        font-size: 1.5em;
                    }

                #banner_new h2 {
                    font-size: 1.5em;
                }

                #banner_new p {
                    font-size: 0.8em;
                }

        }

        body.is-preload #banner_new .logo {
            -moz-transform: translateY(0.5em);
            -webkit-transform: translateY(0.5em);
            -ms-transform: translateY(0.5em);
            transform: translateY(0.5em);
            opacity: 0;
        }

        body.is-preload #banner_new h2 {
            opacity: 0;
            -moz-transform: translateX(0.25em);
            -webkit-transform: translateX(0.25em);
            -ms-transform: translateX(0.25em);
            transform: translateX(0.25em);
            -moz-filter: blur(2px);
            -webkit-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
        }

        body.is-preload #banner_new p {
            opacity: 0;
            -moz-transform: translateX(0.5em);
            -webkit-transform: translateX(0.5em);
            -ms-transform: translateX(0.5em);
            transform: translateX(0.5em);
            -moz-filter: blur(2px);
            -webkit-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
        }

/* Wrapper_new */
    .wrapper_new {
        background-color: #2e3141;
        margin: 0;
        position: relative;
    }
        .wrapper_new:before{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
        }

        .wrapper_new:before {
            box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
        }

        .wrapper_new:before{
            background-repeat: no-repeat;
            background-size: 100% 100%;
            content: '';
            display: block;
            height: 6.5em;
            position: absolute;
            width: 100%;
        }

        .wrapper_new:before {
            left: 0;
            top: -6.5em;
        }

        .wrapper_new.alt:before {
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        .wrapper_new .inner {
            padding: 3em 0 1em 0 ;
            margin: 0 auto;
            width: 55em;
        }

        @media screen and (max-width: 980px) {

            .wrapper_new {
                margin: 4.75em 0;
            }
                .wrapper_new:before{
                    height: 4.75em;
                }

                .wrapper_new:before {
                    top: -4.75em;
                }
                .wrapper_new .inner {
                    padding: 3em 3em 1em 3em ;
                    width: 100%;
                }
        }

        @media screen and (max-width: 736px) {

            .wrapper_new {
                margin: 2.5em 0;
            }
                .wrapper_new:before{
                    height: 2.5em;
                }

                .wrapper_new:before {
                    top: -2.5em;
                }
                .wrapper_new .inner {
                    padding: 2em 2em 0.1em 2em ;
                }

        }

        @media screen and (max-width: 360px) {

            .wrapper_new .inner {
                padding: 2em 1.5em 0.1em 1.5em ;
            }

        }

/***** userInfo.css *****/

.user-con{
    width: 100%;
    height: 350px;
    background-color: rgb(245,245,245);
    border-radius: 5px;
    overflow-y: scroll;
}

@media (max-width: 1024px) {
    .col-sm-6{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (max-width: 767px) {
    .col-sm-6{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.user-pic{
    display: inline-block;
    margin: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-color: #ccc;
}
.user-name{
    margin: 30px;
    display: inline-block;
    color: #555;
    font-weight: 500;
    font-size: 32px;
    vertical-align: top;
    text-transform: uppercase;
}
.add-con{
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}

.add{
    margin: 20px;
    width: 100%;
}
.add input{
    display: inline-block;
    width: 60%;
}
.add-btn{
    display: inline-block;
    height: 45px;
    width: 90px !important;
    border-radius: 5px;
    background-color: #ccc!important;
    vertical-align: bottom;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #bbb!important;
}

.friend-con{
    width: 90%;
    height: 70px;
    margin: 20px auto;
    background-color: rgba(76, 138, 150, 0.5);
    border-radius: 5px;
}

.friend-pic{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin: 8px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.friend-name{
    display: inline-block;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    vertical-align: top;
    margin: 22px;
}

.delete{
    display: inline-block;
    vertical-align: top;
    margin: 22px;
    float: right;
    cursor: pointer;
}

.delete:hover{
    color: #eee
}

#delete-confirm{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: rgba(76, 138, 150, 0.8);
    border-radius: 5px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#delete-confirm:target{
    opacity: 1;
    visibility: visible;
}
.no-friends{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: rgba(76, 138, 150, 0.8);
    border-radius: 5px;
    z-index: 20;
}
.no-friends-word{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cancel{
    float: right;
    margin: 20px;
}
.delete-word{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}
.confirm{
    position: absolute;
    width: 50px;
    background-color: #fff;
    color: rgba(76, 138, 150, 0.8);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.confirm:hover{
    background-color: #eee;
}

.delete_friend_form{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.delete_friend_form input{
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: rgba(76, 138, 150, 0.8) !important;
}
.delete_friend_form input:hover{
  background-color: #eee;
}